:root {
  /* Colors: */
  --text-color: #707070;
  --accent-color: #2a4ae8;
  --unnamed-color-ffffff: #ffffff;

  /* Font/text values */
  --unnamed-font-family-yu-gothic-ui: Yu Gothic UI;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-23: 23px;
  --unnamed-font-size-28: 28px;
  --unnamed-font-size-29: 29px;
  --unnamed-font-size-46: 46px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-31: 31px;
  --unnamed-line-spacing-37: 37px;
  --unnamed-line-spacing-38: 38px;
  --unnamed-line-spacing-62: 62px;
}

/* Character Styles */
.button-text {
  font-family: var(--unnamed-font-family-yu-gothic-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-29);
  line-height: var(--unnamed-line-spacing-38);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
}
h3 {
  font-family: var(--unnamed-font-family-yu-gothic-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-37);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--text-color);
  margin: 3.5px;
}
body {
  font-family: var(--unnamed-font-family-yu-gothic-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-23);
  line-height: var(--unnamed-line-spacing-31);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--text-color);
}
h2 {
  font-family: var(--unnamed-font-family-yu-gothic-ui);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-46);
  line-height: var(--unnamed-line-spacing-62);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--text-color);
  margin: 3.5px;
}
