<!DOCTYPE html>
{% load static %} {% load unicorn %}
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/eos-icons@latest/dist/css/eos-icons.css"
    />
    <link rel="stylesheet" href="{% static 'css/startmenu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <title>PyToolbox</title>
    {% unicorn_scripts %}
  </head>
  <body>
    {% csrf_token %}
    <div xmlns:unicorn="http://www.w3.org/1999/xhtml">
      {% unicorn 'appmenu' %}
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script type="text/javascript" src="{% static 'js/launcher.js' %}"></script>
    </div>
  </body>
</html>
